<form action="" method="POST">
    <table id="UsuarioCadastro">
        <tr>
            <td>
                Email
            </td>
            <td>
                <input type="text" placeholder="ex: alguma@coisa.com" name="email" id="email">
            </td>
        </tr>
        <tr>
            <td>
                Senha
            </td>
            <td>
                <input type="password" placeholder="" name="senha" id="senha">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                                <input type="submit" value="Entrar">

            </td>
        </tr>
    </table>
</form>